.title {
  color: tomato;
  font-family: cursive;
  width: fit-content;
  padding: 12px 80px;
  background-color: antiquewhite;
  border-radius: 2rem;
}

.folderSection {
  width: 60%;
  margin: 20px auto;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

}

.showBtn {
  padding: 2px 8px;
}

.showBtn img {
  width: 12px;
  transition: .3s all;

}

.deleteBtn,
.addBtn {
  width: 22px;
  cursor: pointer;
  transition: .3s all;
  margin-left: 10px;
}

.addBtn:hover,
.deleteBtn:hover {
  transform: scale(1.2);
}

.childShowed {
  transform: rotate(90deg);
}

.folder {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.folderName {
  text-transform: capitalize;
  font-size: 18px;
  font-family: cursive;
  transition: .3s all;
}

.folderIcon {
  width: 22px;
  margin-right: 8px;
}

/* //modal css start// */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #8080805c;
}

.modalContainer {
  text-align: center;
  width: 600px;
  background-color: #FFF;
  height: fit-content;
  border-radius: 10px;
  border: 1px solid tomato;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputControl {
  margin: 30px 0;
  padding: 10px 15px;
  width: 60%;
  border-radius: 5px;
  border: none;
  background-color: #e7e7e7;
  font-size: 18px;
  color: tomato;
  text-align: center;
}

.actionBtn {
  margin: 0 8px;
  font-size: 16px;
  border: navajowhite;
  padding: 7px 22px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: .2s all;
  color: white
}

.actionBtn:hover {
  transform: scale(.95);
}

.cancel,
.delete {
  background-color: rgba(255, 0, 0, 0.7);
}

.create,
.cancelDelete {
  background-color: rgba(0, 0, 255, 0.7);
}

.cross {
  color: gray;
  transition: .3s all;
  padding: 0 7px;
  font-size: 24px;
  position: absolute;
  top: 4px;
  cursor: pointer;
  right: 8px;
}

.cross:hover {
  color: rgb(255, 0, 0, .7);
}